body {
    font-family: "Open Sans";
}

.paginas{
    
    display: inline-flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.paginas:hover{
    
}

.foto-pag{
    
}

.foto{

}

.name1 {
    display: inline-flex;
    flex-direction: center;
    align-items: center;

}

.nome-pag{
    
    
}
.nome-pag2 {
    padding-left: 40px;
    
    
}

.n1 {
    color: #FF0000;
   
}

.n2 {
    border-radius: 5px;
    color: #FFF;
    background-color: #FF0000;
}

.nome-pag2:hover {
    
    color: #EEE;
    
}