.site{
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.525);
    width: 240px;
    height: 400px;
    padding: 5px;
    margin: 50px 0 0 50px;
}
.foto-perfil{
    width: 230px;
    height: 200px;
}
.info-card{
    color: black;
    margin-top: 10px;
    font-family: 'Open Sans';
}
.nome{
    font-weight: bold;
}
.des{
    margin-top: 8px;
}
.qtd{
    font-weight: bold;
    margin-top: 10px;
}
.preco{
    font-weight: bold;
    margin-top: 15px;
}